/*~~~~~~~~~~~~~~~~~~~~~~~~ Common CSS ~~~~~~~~~~~~~~~~~~~~~~~*/

.theme-light {
    --color-secondary: #fbfbfe;
    --font-color: #000000;
    --thought-box-theme: #d0edeb;
    --link-color: #1e5df0;
}

.theme-dark {
    --color-secondary: #16191a;
    --font-color: #ffffff;
    --thought-box-theme: #253534;
    --link-color: #f8f8af;
}

html {
    scroll-behavior: smooth;
    font-family: 'Cagliostro', sans-serif;
    background-color: var(--color-secondary);
    color: var(--font-color);
}

a {
    color: var(--link-color);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Topic Headers ~~~~~~~~~~~~~~~~~~~~~~~*/

.header-common-left {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 110px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
    z-index: 2;
}

.header-common-right {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 110px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
    z-index: 1 !important;
    text-align: right;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Topic Bodies ~~~~~~~~~~~~~~~~~~~~~~~*/

.body-common {
    padding-top: 10px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
    text-align: justify;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Summary CSS ~~~~~~~~~~~~~~~~~~~~~~~*/

.summary {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
    text-align: justify;
}

.hex-background {
    /*color of the main-background*/
    top: 2px;
    /* equal to border thickness */
    left: 2px;
    /* container height - (border thickness * 2) */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}


/*~~~~~~~~~~~~~ Skills and Projects CSS ~~~~~~~~~~~~~~~~~*/

.snp {
    padding-top: 30px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill_item {
    padding: 20px;
    transition: 500ms;
    cursor: pointer;
    display: flex;
    font-size: 20px;
}

.skill_icons {
    height: 90px;
    width: 90px;
    transition: 500ms;
    padding: 5px;
}

.skill_icons:hover {
    transform: scale(1.2);
}

.skill_item_group {
    display: flex;
    height: 50px;
    padding: 10px;
}

.skill_icon_group {
    display: none;
    z-index: 99 !important;
    backdrop-filter: saturate(180%) blur(20px);
    align-items: center;
    justify-content: space-between;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Navbar ~~~~~~~~~~~~~~~~~~~~~~~*/

.header-section {
    overflow: auto;
    border-bottom: solid var(--font-color) 1px;
    position: fixed;
    padding: 10px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99 !important;
    backdrop-filter: saturate(180%) blur(20px);
    font-size: 20px;
    /*Flex details*/
    display: flex;
    transition: 500ms;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-links {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: 500ms;
    cursor: pointer;
}

.header-links:hover {
    transform: scale(1.1);
}

.navbar-icon {
    padding: 30px;
    display: none;
    transform: scale(2.0);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Thought Box ~~~~~~~~~~~~~~~~~~~~~~~*/

#thought-link {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    transition: 500ms;
    cursor: pointer;
}

#thought-link:hover {
    transform: scale(1.1);
}

.thought-box {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 300px;
    display: none;
    margin: 50px;
    background: var(--thought-box-theme);
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}

.sb4:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--thought-box-theme);
    border-top: 10px solid var(--thought-box-theme);
    border-bottom: 10px solid transparent;
    left: auto;
    right: 100px;
    bottom: -20px;
    transition: visibility 0s, opacity 0.5s linear;
}

#lname {
    margin-top: 10px;
    resize: none;
    color: var(--font-color);
    background-color: var(--color-secondary);
}

#post_button {
    font-family: 'Cagliostro', sans-serif;
    font-size: 20px;
    width: auto;
    color: var(--font-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Footer Section ~~~~~~~~~~~~~~~~~~~~~~~*/

.footer-section {
    border-top: solid var(--font-color) 1px;
    position: fixed;
    padding: 5px;
    font-size: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99 !important;
    backdrop-filter: saturate(180%) blur(20px);
    /*Flex details*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:1250px) {
    .header-section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 35px;
    }
    .navbar-icon {
        display: flex
    }
    .header-links {
        display: none;
    }
    .body-common {
        padding-bottom: 300px;
    }
    .sb4:before {
        border-left: 10px solid transparent;
        border-right: 10px solid var(--thought-box-theme);
        border-top: 10px solid var(--thought-box-theme);
        border-bottom: 10px solid transparent;
        left: auto;
        right: 30px;
        bottom: -20px;
    }
    .thought-box {
        font-size: 50px;
        height: auto;
        width: auto;
    }
    #post_button {
        font-size: 50px;
    }
    #lname {
        font-size: 50px;
    }
    .summary {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}