/*~~~~~~~~~~~~~~~~~~~~~~~~ Common CSS ~~~~~~~~~~~~~~~~~~~~~~~*/

.theme-light {
    --color-secondary: #fbfbfe;
    --font-color: #000000;
    --thought-box-theme: #d0edeb;
    --link-color: #1e5df0;
    --error-backgrounds: rgba(255, 255, 255, 0.8);
    --academic-timeline: #c1d0f4;
}

.theme-dark {
    --color-secondary: #242c2c;
    --font-color: #ffffff;
    --thought-box-theme: #253534;
    --link-color: #f8f8af;
    --error-backgrounds: rgba(255, 255, 255, 0);
    --academic-timeline: #1e5df0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Cagliostro', sans-serif;
    background-color: var(--color-secondary);
    color: var(--font-color);
    --color-easy: #0fd50c;
    --color-medium: #ff9500;
    --color-hard: #ff4040;
    --color-all: #9592b9;
}

a {
    color: var(--link-color);
}

.generic_div {
    display: block;
    padding-bottom: 250px;
}

.help_div {
    position: fixed;
    display: none;
    z-index: 1 !important;
    background: var(--color-secondary);
    height: 100vh;
    width: 99%;
    margin: 0px;
}

#top_help {
    position: fixed;
    top: 15%;
    left: 20%;
    font-size: 50px;
    margin: 0px;
}

#bottom_help {
    position: fixed;
    bottom: 15%;
    left: 40%;
    font-size: 50px;
    margin: 0px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Navbar ~~~~~~~~~~~~~~~~~~~~~~~*/

.header-section {
    overflow: auto;
    border-bottom: solid var(--font-color) 1px;
    position: fixed;
    padding: 10px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99 !important;
    backdrop-filter: saturate(180%) blur(20px);
    font-size: 20px;
    /*Flex details*/
    display: flex;
    transition: 500ms;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-links {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: 500ms;
    cursor: pointer;
}

.header-links:hover {
    transform: scale(1.1);
}

.navbar-icon {
    padding: 30px;
    display: none;
    transform: scale(2.0);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Topic Headers ~~~~~~~~~~~~~~~~~~~~~~~*/

.header-common-left {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 110px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
    z-index: 1 !important;
}

.header-common-right {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 110px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
    z-index: 1 !important;
    text-align: right;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Topic Bodies ~~~~~~~~~~~~~~~~~~~~~~~*/

.body-common {
    padding-top: 10px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
    text-align: justify;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Summary CSS ~~~~~~~~~~~~~~~~~~~~~~~*/

.summary {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
    text-align: justify;
}

.hex-background {
    top: 2px;
    left: 2px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}


/*~~~~~~~~~~~~~ Skills CSS ~~~~~~~~~~~~~~~~~*/

.snp {
    padding: 50px;
    font-size: 20px;
    z-index: 1;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skill_icons {
    height: 90px;
    width: 90px;
    transition: 500ms;
    padding: 20px;
}

.skill_icons:hover {
    transform: scale(1.2);
}

.skill_item_group {
    height: 75px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.skill_item {
    padding: 20px;
    transition: 500ms;
    cursor: pointer;
    display: flex;
    width: auto;
    align-items: center;
    justify-items: center;
    position: relative;
}

.skill_icon_group {
    display: none;
    z-index: 50 !important;
    backdrop-filter: saturate(180%) blur(2px);
    align-items: center;
    justify-items: center;
    position: absolute;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Leetcode data ~~~~~~~~~~~~~~~~~~~~~~~*/

#progress_bar_container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.progress {
    position: absolute;
    height: 160px;
    width: 160px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -80px;
}

.progress-circle {
    transform: rotate(-90deg);
    margin-top: -40px;
}

.progress-circle-back {
    fill: none;
    stroke-width: 10px;
}

.progress-circle-prog {
    fill: none;
    stroke: var(--color-all);
    stroke-width: 10px;
    stroke-dasharray: 0 999;
    stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
    width: 100%;
    position: absolute;
    top: 60px;
    text-align: center;
}

.category_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.category_class {
    font-size: 30px;
    padding: 30px;
    transition: 500ms;
    cursor: pointer;
}

.category_class:hover {
    transform: scale(1.5);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Github Data ~~~~~~~~~~~~~~~~~~~~~~~*/

#github_projects {
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
}

#customers {
    border-collapse: collapse;
}

#customers td,
#customers th {
    border: 1px solid var(--font-color);
    padding: 8px;
    text-align: center;
    font-size: 25px;
    color: var(--font-color);
}

#customers tr:nth-child(even) {
    background-color: #c29f9f;
}

#customers tr:hover {
    background-color: rgb(187, 197, 122);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #007bb9;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Error Divs ~~~~~~~~~~~~~~~~~~~~~~~*/

.error_api {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    height: 360px;
    margin: 50px;
}

#leetcode_error {
    background: linear-gradient(var(--error-backgrounds), var(--error-backgrounds)), url('../assets/leetcode.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    justify-content: center;
    align-items: center;
}

#github_error {
    background: linear-gradient(var(--error-backgrounds), var(--error-backgrounds)), url('../assets/Github.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    justify-content: center;
    align-items: center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Work Experience ~~~~~~~~~~~~~~~~~~~~~~~*/


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    margin: 50px auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--font-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.containerTimeline {
    width: 50%;
    position: relative;
    background-color: inherit;
}


/* The circles on the timeline */

.containerTimeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: var(--font-color);
    border: 2px solid var(--font-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
    text-align: right;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

.content {
    padding: 0 30px 30px 30px;
}

.work_exp_logo {
    width: 100%;
}

.work_exp_info {
    text-align: justify;
}

.work_exp_info>* {
    padding: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Academic section ~~~~~~~~~~~~~~~~~~~~~~~*/

.academic_section {
    width: 90%;
    margin: auto;
}

.academic_info {
    border-top: 5px dashed;
    border-color: var(--academic-timeline) !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
}

.academic_info:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: var(--academic-timeline);
    text-align: center;
    font-size: 15px;
}

.academic_info:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: var(--academic-timeline);
    text-align: center;
    font-size: 15px;
}

.academic_info:nth-child(even) {
    border-left: 5px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
    font-size: 15px;
}

.academic_info:nth-child(odd) {
    border-right: 5px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
    text-align: right;
    font-size: 15px;
}

.academic_info:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.academic_info:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Casual section ~~~~~~~~~~~~~~~~~~~~~~~*/

.game_group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.game_img {
    height: 200px;
    width: 400px;
    margin: 30px;
    transition: 500ms;
    border-radius: 30px;
    border: 3px solid var(--font-color)
}

.game_img:hover {
    transform: scale(1.2);
}

#cs {
    background: url('../assets/casual/csgo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#ksp {
    background: url('../assets/casual/ksp.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#rl {
    background: url('../assets/casual/rl.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#subnautica {
    background: url('../assets/casual/subnautica.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.meme_div {
    height: auto;
    width: 50%;
    padding: 10px 25%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Thought Box ~~~~~~~~~~~~~~~~~~~~~~~*/

#thought-link {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    transition: 500ms;
    cursor: pointer;
}

#thought-link:hover {
    transform: scale(1.1);
}

.thought-box {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 300px;
    display: none;
    margin: 50px;
    background: var(--thought-box-theme);
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}

.sb4:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--thought-box-theme);
    border-top: 10px solid var(--thought-box-theme);
    border-bottom: 10px solid transparent;
    left: auto;
    right: 100px;
    bottom: -20px;
    transition: visibility 0s, opacity 0.5s linear;
}

#lname {
    margin-top: 10px;
    resize: none;
    color: var(--font-color);
    background-color: var(--color-secondary);
}

#post_button {
    font-family: 'Cagliostro', sans-serif;
    font-size: 20px;
    width: auto;
    color: var(--font-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Footer Section ~~~~~~~~~~~~~~~~~~~~~~~*/

.footer-section {
    border-top: solid var(--font-color) 1px;
    position: fixed;
    padding: 5px;
    font-size: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99 !important;
    backdrop-filter: saturate(180%) blur(20px);
    /*Flex details*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Response Section ~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width:1250px) {
    .header-section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 35px;
    }
    .navbar-icon {
        display: flex
    }
    .header-links {
        display: none;
    }
    .body-common {
        padding-bottom: 300px;
    }
    .sb4:before {
        border-left: 10px solid transparent;
        border-right: 10px solid var(--thought-box-theme);
        border-top: 10px solid var(--thought-box-theme);
        border-bottom: 10px solid transparent;
        left: auto;
        right: 30px;
        bottom: -20px;
    }
    .thought-box {
        font-size: 50px;
        height: auto;
        width: auto;
    }
    #post_button {
        font-size: 50px;
    }
    #lname {
        font-size: 50px;
    }
    .summary {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .skill_item {
        font-size: 30px;
    }
    #progress_bar_container {
        flex-direction: column;
    }
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .containerTimeline {
        width: 90%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
    .left {
        text-align: left;
    }
    .game_group {
        flex-direction: column;
    }
    .meme_div {
        width: 75%;
        padding: 10px 12.5%;
    }
    #top_help {
        top: 7.5%;
        left: 2%;
    }
    #bottom_help {
        bottom: 5%;
    }
}