/*~~~~~~~~~~~~~~~~~~~~~~~~ Work Experience ~~~~~~~~~~~~~~~~~~~~~~~*/

.readmore {
    position: relative;
    text-align: justify;
    max-height: 12.5%;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
}

.readmore.expand {
    max-height: 5000px !important;
    transition: max-height 0.5s ease-in-out;
}

.readmore-link {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, transparent, var(--color-secondary));
    cursor: pointer;
}

.readmore-link.expand {
    position: relative;
    background-image: none;
    padding-top: 10px;
    height: 20px;
}


/**/

#work_error {
    background: linear-gradient(var(--error-backgrounds), var(--error-backgrounds)), url('../assets/mongo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    justify-content: center;
    align-items: center;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    margin: 50px auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--font-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.containerTimeline {
    width: 50%;
    position: relative;
    background-color: inherit;
}


/* The circles on the timeline */

.containerTimeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: var(--font-color);
    border: 2px solid var(--font-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
    text-align: right;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

.content {
    padding: 0 30px 30px 30px;
}

.work_exp_logo {
    width: 100%;
}

.readmore>* {
    padding: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~ Response Section ~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width:1250px) {
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .containerTimeline {
        width: 90%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
    .left {
        text-align: left;
    }
    .readmore {
        font-size: 40px;
        max-height: 200px;
    }
}